.popup__button-close {
    width: 32px;
    height: 32px;
    background: none;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding: 0;
    align-self: flex-end;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        background-image: url(../../../images/Close\ Icon\ 320.svg);
    }
}