.profile__info {
    max-width: 336px;
    width: 100%;
    max-height: 73px;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .profile__info {
        min-height: 54px;
        margin-left: auto;
        margin-bottom: 36px;
        margin-top: 26px;
    }
}